@model Ictshop.Models.Hedieuhanh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detail Flower</h2>

<div>
    <h4>Flower </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenhdh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenhdh)
        </dd>

    </dl>
</div>
<<<<<<< HEAD
<<<<<<< HEAD
<button > @Html.ActionLink("Edit ", "Edit", new { id = Model.Mahdh }) </button>


=======
<p>
    @Html.ActionLink("Edit ", "Edit", new { id = Model.Mahdh }) |
</p>
>>>>>>> 2a759a8020b02aeac8fb7e8a0e59c59926521ecd
=======
<button > @Html.ActionLink("Edit ", "Edit", new { id = Model.Mahdh }) </button>


>>>>>>> develop
