@model IEnumerable<Ictshop.Models.Donhang>

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/layout.cshtml"; }

<h2>Order List </h2>


<table class="table">
    <tr>
        <th>
           Name 
        </th>
        <th>
            Datetime
        </th>
        <th>
            Status
        </th>
        <th>
            Payment
        </th>
        <th>
            Delivery Address
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nguoidung.Hoten)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ngaydat)
    </td>
    <td>
        @{ if (@item.Tinhtrang == 0)
            {
                <h5 style="color:red">Waiting for confirmation. </h5> 
            }
                else if (@item.Tinhtrang == 1)
                {
                    <h5 style="color:green">Confirmed </h5> 
                }
                else
                {
                 <h5 style="color:orangered">Waiting for confirmation </h5> 
                } 
         }
    </td>
    <td>
        @{ if (@item.Thanhtoan == 1)
            {
                <div style="color:red">Cash payment</div> 
                }
            else if (@item.Thanhtoan == 2)
            {
                <div style="color:brown">Transfer payments</div> }
            }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Diachinhanhang)
    </td>
    <td>
        <button class="btn-primary">
            @Html.ActionLink("Detail", "Details", new { id = item.Madon }, new { @style = "color:white;" })
        </button>

    </td>
</tr>}

</table>
