<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FlowerShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/Content/Style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />

    <link href="img/favicon.icon" rel="icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    @using Ictshop.Models

    <style type="text/css">


        body {
            background-color: #F0F0F0;
            margin-top: -48px;
            text-decoration: none;
        }

        .navbar-inverse {
            background-color: #39B54A;
            border-color: #39B54A;
        }

        .top_header {
            background-color: black;
            padding-left: 110px;
            color: white;
        }

        .form-inline {
            float: right;
            padding-top: 10px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: x-large;
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: large;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: black;
            }

        .navbar-brand {
            color: cadetblue;
        }

        .spnoibat {
            background-color: white;
        }

            .spnoibat h3 {
                padding-left: 30px;
            }

        .giohang {
            color: blue;
            font-size: large;
        }

        .height {
            height: 65px;
        }


    </style>
</head>


<body>

    @{ var u = Session["use"] as Ictshop.Models.Nguoidung; }

    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>So 8, Ton That Thuyet, Ha Noi</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>info@example.com</small>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="background-image: url('/HinhanhSP/banner1.jpg'); background-size: cover; max-width: 100%; height: 700px">
        <div class="row mt-auto collapse navbar-collapse navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0" style="font-size: large; position:relative;">
            @*<div class="col-sm-2"><img class="navbar-brand" src="~/HinhanhSP/logo1.jpg" width="20" height="20" style="padding:0" /></div>*@
            <div class="col-sm-1"></div>
            <div class="col-sm-2" style="font-size:30px"><i class="bi bi-flower1"></i> <a href="/Home">FlowerShop</a></div>

            <div class="col-sm-8 height">
                <div class="col-sm-2">
                    <a class="nav-item nav-link active" href="/Home/About" title="dienthoai"><span>About Us</span> </a>
                </div>
                <div class="col-sm-2">
                    <a class="nav-item nav-link active" href="/SanPham/dtxiaomipartial" title="PHUKIEN"><span>Products</span></a>
                </div>
                <div class="col-sm-2">
                    <a class="nav-item nav-link active" href="/Home/Contact" title="LIENHE"><span>Contact</span></a>
                </div>
                <div class="col-sm-2">
                    <a class="nav-item nav-link active" href="@Url.Action("Index", "DonHangs")">Order</a>
                </div>
                <div class="col-sm-2">
                    @Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })
                </div>

                <div class="col-sm-2">
                    @*@Html.Action("GioHangPartial", "GioHang",new { @style = "color:while" })*@
                    @{ if (u != null)
                        {
                                        
                                            <ul class="navbar-nav ml-auto ml-md-0 mt-0" >
                                                <li class="nav-item dropdown">
                                                                        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position:absolute; top:-10px">
                                                                            <img style="height:28px" src="~/HinhanhSP/icons8-user-50.png" />
                                                                        </a>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                                        <a class="dropdown-item" style="color:red" href="@Url.Action("Details", "Nguoidungs", new { id = u.MaNguoiDung  })"> Xin chào : @u.Email</a>

                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="/User/DangXuat"> Log out </a>
                                                    </div>
                                                </li>
                                            </ul>

                                        
                                            }
                                            else
                                            {
                                            <div>
                                                <a style="color:blue" href="/User/Dangky"> Register</a>&nbsp &nbsp
                                                <a style="color:blue " href="/User/Dangnhap"> Login</a>
                                            </div>
                                            } }

                </div>

            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div>
                <h3 class="text-white text-uppercase mb-3 animated slideInDown">Beautiful Flower</h3>
                <h1 class="display-1 text-white mb-md-4 animated zoomIn">Each flower is a soul blooming in the morning light.</h1>
            </div>


        </div>
    </div>

    <br>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <br />
    </div>


    <footer class="bg-info">
        <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">

                <div class="row ">
                    <div class="col-lg-4 col-md-6 footer-about">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                            <a href="index.html" class="navbar-brand">
                                <h1 class="m-0 text-white"><i class="bi bi-flower1"></i>Flowers</h1>
                            </a>
                            <p class="mt-3 mb-4">Flowers always make people better, happier, and more useful; They are sunshine, food and medicine for the soul.</p>
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                                    <button class="btn btn-dark">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="row gx-5">
                            <div class="col-lg-4 col-md-12 pt-5 mb-5">
                                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                    <h3 class="text-light mb-0">Get In Touch</h3>
                                </div>
                                <div class="d-flex mb-2">
                                    <i class="bi bi-geo-alt text-primary me-2"></i>
                                    <p class="mb-0">So 8, Ton That Thuyet, Ha Noi</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <i class="bi bi-envelope-open text-primary me-2"></i>
                                    <p class="mb-0">info@example.com</p>
                                </div>
                                <div class="d-flex mb-2">
                                    <i class="bi bi-telephone text-primary me-2"></i>
                                    <p class="mb-0">+012 345 67890</p>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                    <h3 class="text-light mb-0">Quick Links</h3>
                                </div>
                                <div class="link-animated d-flex flex-column justify-content-start">
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                                    <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                    <h3 class="text-light mb-0">Popular Links</h3>
                                </div>
                                <div class="link-animated d-flex flex-column justify-content-start">
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                    <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                                    <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-white" style="background: #061429;">
            <div class="container text-center">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-md-6">
                        <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                            <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">Happiness is created by seeds; happiness shared by flowers.</a>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
