@model Ictshop.Models.Donhang

@{
    ViewBag.Title = "ThanhToanDonHang";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>Payment</h2>

@using (Html.BeginForm("DatHang", "GioHang", new { @class = "" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Madon)

<<<<<<< HEAD
 @*   <div class="form-group">
=======
    <div class="form-group">
>>>>>>> 2a759a8020b02aeac8fb7e8a0e59c59926521ecd
        <div class="control-label col-md-3 Bold"> <b> 	Customer Order   </b></div>
        <div class="col-md-9">
            @Html.DropDownList("MaNguoidung", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" , Enabled = "False", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.MaNguoidung, "", new { @class = "text-danger" })
        </div>
<<<<<<< HEAD
    </div>*@
=======
    </div>
>>>>>>> 2a759a8020b02aeac8fb7e8a0e59c59926521ecd

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> 	Datetime </b></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Ngaydat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Ngaydat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> 	Total   </b></div>

        <div class="col-md-9">
            <h3 class="text-danger"> @String.Format("{0:0,0}", @ViewBag.tongtien) $ </h3>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> Delivery Address </b></div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Diachinhanhang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diachinhanhang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> 	Payment   </b></div>

        <div class="col-md-9">
            @Html.DropDownList("MaTT", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-3 Bold"> <b> 	Note   </b></div>

        <div class="col-md-9 text-danger">
            - For cash payment. The product is delivered to you, you check the product and then pay the shipping staff.
            <br />
            - For transfer payments:
            You transfer money to account: 111111. Account holder: XXXXXX. Bank YYYYYY
            <br />
            - Transfer content fill in the form: Full name, phone number, Payment for purchase FlowerShop . 
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Order Now " class="btn btn-primary" />
        </div>
    </div>
</div>
}

