@model Ictshop.Models.Hangsanxuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detail Occasion </h2>

<div>
    <h4>Occasion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenhang)
        </dd>

    </dl>
</div>
<<<<<<< HEAD
<<<<<<< HEAD
<button style=" color: deepskyblue"> @Html.ActionLink("Edit ", "Edit", new { id = Model.Mahang })</button>
  

=======
<p>
    @Html.ActionLink("Edit ", "Edit", new { id = Model.Mahang })
</p>
>>>>>>> 2a759a8020b02aeac8fb7e8a0e59c59926521ecd
=======
<button style=" color: deepskyblue"> @Html.ActionLink("Edit ", "Edit", new { id = Model.Mahang })</button>
  

>>>>>>> develop
